.biography-wrapper {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.paper {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: rgb(255, 255, 255);
}

@media only screen and (min-width: 800px) {
  .biography-wrapper {
    padding: 20px 0;
  }

  .paper {
    width: 450px;
    padding: 40px;

    border-radius: 20px;
  }
}

@media only screen and (max-width: 799px) {
  .paper {
    padding-bottom: 80px;
  }
}
