@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
  font-weight: 400;
  font-family: "Avenir";
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;

  color: hsl(213, 14%, 25%);
  font-size: 1em;
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  line-height: 1.65;

  background: hsl(0, 0%, 93%);
}
