.root {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
}

.introductionwrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #000000;
    min-height: 100vh;
}



@media only screen and (min-width: 800px) {
    .root {
        flex-wrap: nowrap;
    }

    .introductionwrapper {
        padding: 0 60px;
    }

    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .introductionwrapper {
        padding: 0;
        width: 100%;
    }

    .root {
        flex-wrap: wrap;
    }

    .desktop {
        display: none;
    }
}