.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.link {
  position: relative;
  left: 0;

  font-size: 16px;

  cursor: pointer;

  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link:hover {
  left: -5px;
}

.source-code {
  color: whitesmoke;
  text-decoration: none;
}
