.box {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 12.5px;

  color: white;

  background: hsl(0, 0%, 0%);
}

.sharp {
  border-radius: 0;
}

.rounded {
  border-radius: 6px;
}

.circle {
  border-radius: 50px;
}
