.layout {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.enable-scroll {
    overflow-y: scroll;
}

.disable-scroll {
    overflow-y: hidden;
}

.layout::-webkit-scrollbar {
    width: 8px;
}

.layout::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(221,160,221) 0%, rgba(221,160,221) 25%, rgba(102,45,145) 25%, rgba(102,45,145) 50%, rgba(238,130,238) 50%, rgba(238,130,238) 75%, rgb(108, 52, 150) 75%, rgb(108, 52, 150) 100%);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
}

.introduction-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #000000;
    min-height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
}



@media screen and (min-width: 800px) {
    .introduction-wrapper {
        padding: 0 50px;
        width: fit-content;
    }

    .layout::-webkit-scrollbar {
        width: 14px;
    }

    .layout::-webkit-scrollbar-track {
        background: linear-gradient(180deg, rgba(221,160,221) 0%, rgba(221,160,221) 33.333333%, rgba(102,45,145,1) 33.3333333%, rgba(102,45,145) 66.666666%, rgba(238,130,238) 66.6666666%, rgba(238,130,238) 100%);
    }
}